# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [40]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys
import json
sys.path.append('..')

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [30]:
city_weather_df = pd.read_csv('../WeatherPy/Output/city_weather.csv')
city_weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port alfred,-33.5906,26.8910,66.99,89,0,1.01,ZA,1612296107
1,1,mansa,29.9833,75.3833,54.97,42,0,5.32,IN,1612296108
2,2,talnakh,69.4865,88.3972,-10.71,83,100,6.24,RU,1612296110
3,3,ushuaia,-54.8000,-68.3000,53.60,82,75,14.97,AR,1612296112
4,4,ukiah,39.1502,-123.2078,53.60,66,90,3.44,US,1612296002
...,...,...,...,...,...,...,...,...,...,...
541,541,sanlucar de barrameda,36.7781,-6.3515,59.00,94,20,6.91,ES,1612296768
542,542,manggar,-2.8833,108.2667,79.07,84,93,14.27,ID,1612296769
543,543,nouadhibou,20.9310,-17.0347,66.20,82,0,14.97,MR,1612296770
544,544,te anau,-45.4167,167.7167,55.78,87,100,2.06,NZ,1612296772
545,545,natal,-5.7950,-35.2094,84.20,65,75,18.41,BR,1612296671

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [31]:
gmaps.configure(api_key = g_key)
fig = gmaps.figure()
locations = city_weather_df[['Lat', 'Lng']]
heat_layer = gmaps.heatmap_layer(locations, weights = city_weather_df['Humidity'], dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [56]:
ideal_city_weather_df = city_weather_df.loc[(city_weather_df['Max Temp'] > 70) & (city_weather_df['Max Temp'] < 80) 
                            & (city_weather_df['Wind Speed'] <= 10) & (city_weather_df['Cloudiness'] == 0), :]

ideal_city_weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,15,atar,20.5169,-13.0499,76.33,16,0,9.82,MR,1612296127
110,110,umm lajj,25.0213,37.2685,74.62,76,0,4.12,SA,1612296014
198,198,coihaique,-45.5752,-72.0662,78.80,41,0,6.91,CL,1612296208
205,205,mudhol,16.3500,75.2833,70.95,33,0,8.95,IN,1612296364
267,267,aloleng,16.1307,119.7824,75.02,76,0,8.63,PH,1612296436
357,357,mecca,21.4267,39.8261,74.73,75,0,0.96,SA,1612296543
397,397,kafanchan,9.5833,8.3000,75.49,24,0,3.51,NG,1612296592
411,411,lima,-12.0432,-77.0282,77.00,57,0,8.05,PE,1612296348
453,453,hubli,15.3500,75.1667,70.30,35,0,8.84,IN,1612296662
505,505,laem sing,12.4816,102.0738,73.99,91,0,2.48,TH,1612296724
518,518,manzanillo,20.3433,-77.1167,79.09,38,0,6.40,CU,1612296741
534,534,masindi,1.6744,31.7150,72.73,30,0,3.49,UG,1612296759
536,536,gusau,12.1628,6.6614,77.40,17,0,9.98,NG,1612296763

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
hotel_df = ideal_city_weather_df
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,15,atar,20.5169,-13.0499,76.33,16,0,9.82,MR,1612296127
110,110,umm lajj,25.0213,37.2685,74.62,76,0,4.12,SA,1612296014
198,198,coihaique,-45.5752,-72.0662,78.80,41,0,6.91,CL,1612296208
205,205,mudhol,16.3500,75.2833,70.95,33,0,8.95,IN,1612296364
267,267,aloleng,16.1307,119.7824,75.02,76,0,8.63,PH,1612296436
357,357,mecca,21.4267,39.8261,74.73,75,0,0.96,SA,1612296543
397,397,kafanchan,9.5833,8.3000,75.49,24,0,3.51,NG,1612296592
411,411,lima,-12.0432,-77.0282,77.00,57,0,8.05,PE,1612296348
453,453,hubli,15.3500,75.1667,70.30,35,0,8.84,IN,1612296662
505,505,laem sing,12.4816,102.0738,73.99,91,0,2.48,TH,1612296724
518,518,manzanillo,20.3433,-77.1167,79.09,38,0,6.40,CU,1612296741
534,534,masindi,1.6744,31.7150,72.73,30,0,3.49,UG,1612296759
536,536,gusau,12.1628,6.6614,77.40,17,0,9.98,NG,1612296763

In [62]:
hotel_names = []
geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
for index, row in hotel_df.iterrows():
    params = {
        'address': row['City']
        , 'key': g_key
    }
    city_response = requests.get(geocode_url, params).json()
    
    lat = city_response['results'][0]['geometry']['location']['lat']
    lng = city_response['results'][0]['geometry']['location']['lng']
    location = f'{lat},{lng}'
    keyword = '&keyword=hotel'
    nearby_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    final_url = f'{nearby_url}&location={location}{keyword}&rankby=distance&key={g_key}'
    hotel = requests.get(final_url).json()
#     print(hotel['results'][0]['name'])
    try:
        hotel_names.append(hotel['results'][0]['name'])
    except:
        hotel_names.append('')
hotel_df['Hotel Name'] = hotel_names
hotel_df

<ipython-input-62-a3e35e3569c4>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = hotel_names

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
15,15,atar,20.5169,-13.0499,76.33,16,0,9.82,MR,1612296127,Auberge des Caravanes
110,110,umm lajj,25.0213,37.2685,74.62,76,0,4.12,SA,1612296014,HP Red Sea Hotel
198,198,coihaique,-45.5752,-72.0662,78.80,41,0,6.91,CL,1612296208,Entre Cumbres Apart Hotel
205,205,mudhol,16.3500,75.2833,70.95,33,0,8.95,IN,1612296364,Shri Shabari Restaurant
267,267,aloleng,16.1307,119.7824,75.02,76,0,8.63,PH,1612296436,Crispina Mountain Resort
357,357,mecca,21.4267,39.8261,74.73,75,0,0.96,SA,1612296543,Ramada Hotel Makkah
397,397,kafanchan,9.5833,8.3000,75.49,24,0,3.51,NG,1612296592,new world
411,411,lima,-12.0432,-77.0282,77.00,57,0,8.05,PE,1612296348,Pico Alto Surf
453,453,hubli,15.3500,75.1667,70.30,35,0,8.84,IN,1612296662,SKD COMFORTS
505,505,laem sing,12.4816,102.0738,73.99,91,0,2.48,TH,1612296724,Laemsing Whitehouse Resort
518,518,manzanillo,20.3433,-77.1167,79.09,38,0,6.40,CU,1612296741,Hotel tesoro Manzanillo
534,534,masindi,1.6744,31.7150,72.73,30,0,3.49,UG,1612296759,Aribas Hotel
536,536,gusau,12.1628,6.6614,77.40,17,0,9.98,NG,1612296763,Copas Haven Motel

In [64]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [65]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))